* {
  box-sizing: border-box;
}
body{
    background-image:url("image/card-edit11.jpg");
    position: relative;
    /* background-size: cover; */
    
    background-repeat: no-repeat;
    background-size:contain;
    overflow: hidden;
    display: flex;
    
    margin: 0px;
}
.ganesh-img {
height: 400px;
width: 300px;
margin-left: 500px;
padding-top: 0px;
position: relative;
animation: mymove 8s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
animation-timing-function: ease-out;
}
@keyframes mymove {
    0% {top: 0px;
    opacity: 1;}
    60% {
        top: 100px;
    opacity: 1;
    }
    100% {
        opacity: 0;
        top: 100px;
    }
}

.message {
  font-weight: 400;
  font-family: 'Rouge Script', cursive;
  font-size: 50px;
}
.invitiation-text {
  position: absolute;
  
  position: absolute;
  top: 182px;
  left: -727px;
  animation: invitation-txt-animation 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 6s;
}

@keyframes invitation-txt-animation {
  0% {
  opacity: 1;}
  60% {
      left: 400px;
  opacity: 1;
  }
  70% {
      opacity: 1;
      left: 480px;
  }
  80% {
    opacity: 1;
    left: 350px;
 }
 100% {
  opacity: 0;
  left: 480px;
}
}
.groom{
    font-size: 50px;
    position: absolute;
    top: -170px;
    margin: auto;
    left: 610px;
    font-family: 'Rouge Script', cursive;
    animation: groom-name 13s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: 12s;
}
@keyframes groom-name {
 
  0% {
      top: -110px;
  opacity: 1;
  }
 
  80%{
    top: 90px;
    opacity: 1;
  }
  100%{
    top: 90px;
     opacity: 0;
  }

}
.groom-pic{
height: 400px;
width: 340px;
position: absolute;
top: 70px;
left: -355px;
animation: groom-photo 12s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
animation-timing-function: ease-out;
animation-delay: 13s;
}

@keyframes groom-photo {
 
  0% {
      left: 70px;
  opacity: 0;
  }
 
  80%{
    left: 100px;
    opacity: 1;
  }
  100%
  {
    left: 100px;
    opacity: 0;
  }
}
.groom-pic img {
height: 100%;
width: 100%;
}
.text{
  font-size: 20px;
}
  .bride{
    font-size: 50px;
    position: absolute;
    top: -170px;
    left: 625px;
    font-family: 'Rouge Script', cursive;
    margin: auto;
    animation: bride-name 9s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: 16s;
  }
  @keyframes bride-name {
 
    0% {
        top: 200px;
    opacity: 1;
    }
    80%{
      top: 350px;
      opacity: 1;
    }
    100%{
      top: 350px;
      opacity: 0;
    }
}
.bride-pic{
  height: 360px;
width: 340px;
position: absolute;
top: 70px;
right: -352px;
animation: bride-photo 9s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
animation-timing-function: ease-out;
animation-delay: 16s;

}

@keyframes bride-photo {
 
  0% {
      right: 70px;
  opacity: 0;
  }
  80%{
    right: 100px;
    opacity: 1;
  }
100%{
  right: 100px;
  opacity: 0;
}
}
.bride-pic img {
  height: 100%;
  width: 100%;
}
.kalash-img{
    height: 206px;
    width: 180px;
    position: absolute;
    margin: auto;
    margin-top: -80px;
    left: 600px;
    top: -215px;
    animation: kalash 9s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: 16s;
}
@keyframes kalash {
  0%{
    top: 230px;
    opacity: 0;
  
}
  80%{
    top: 230px;
    opacity: 1;
  
}
100%{
  top: 230px;
  opacity:0;
}
}
.kalash-img img {
  height: 100%;
  width: 100%;
}
.wedding-ceremony {
  /* height: 100px;
    width: 700px; */
    font-size: 20px;
    position: absolute;
    top: 120px;
    font-size: 40px;
    right: -400px;

    animation: wedding-ceremony 13s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
animation-timing-function: ease-out;
animation-delay: 25s;

}
@keyframes wedding-ceremony {
 
  0% {
      right: 0px;
  opacity: 0;
  }
  70%{
    right: 250px;
    opacity: 1;
  }
  100%{
    right: 250px;
    opacity: 0;
  }
}
.knot-pic{
height: 400px;
width: 300px;

position: absolute;
top: 80px;
left: -300px;

animation: knot-pic 13s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
animation-timing-function: ease-out;
animation-delay: 25s;
}

@keyframes knot-pic {
 
  0% {
      left: 0px;
  opacity: 0;
  }
  70%{
    left: 250px;
    opacity: 1;
  }
  100%{
    left: 250px;
    opacity: 0;
  }
}
.knot-pic img{
  height: 100%;
  width: 100%;
}
.couple {
  height: 400px;
  width: 300px;
  position: absolute;
  top: 100px;
  left: -320px;

  animation: couple 12s;
animation-iteration-count: 1;
animation-fill-mode: forwards;
animation-timing-function: ease-out;
animation-delay: 38s;
}
@keyframes couple {
 
  0% {
      left: 100px;
  opacity: 0;
  }
  80%{
    left: 100px;
    opacity: 1;
  }
  100%{
    left: 100px;
    opacity: 1;
  }
}
.couple img {
  height: 100%;
  width: 100%;
}
.date {
  height: auto;
    width: auto;
    font-size: 50px;
    position: absolute;
    top: 100px;
    right: -620px;

    animation: date 12s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: 40s;
}
@keyframes date {
 
  0% {
      left: right;
  opacity: 0;
  }
  80%{
    right: 100px;
    opacity: 1;
  }
 100%{
   right: 100px;
   opacity: 1;
 }
}
.flower-shower {
  height: 100vh;
}
.flower1 {
  
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left:0px;
  bottom: 0px;
  animation: flowershower1 10s infinite linear;
  animation-delay: 44s;
}

.flower2 {
  /* background: url("image/flower-shower2-trans.png"); */
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left:0px;
  bottom: 0px;
  animation: flowershower2 10s infinite linear;
  animation-delay: 44s;
}

@keyframes flowershower1 {
  0% {
    background: url("image/petal-trans.png");
    background-position: 0px 0px;
    background-repeat: repeat;
    
  }
  100% {
    background: url("image/petal-trans.png");
    background-position: 100px 650px;
    background-repeat: repeat;
  }
}


@keyframes flowershower2 {
  0% {
    background: url("image/petal-trans.png");
    background-position: 0px -100px;
    background-repeat: repeat;
  }
  100% {
    background: url("image/petal-trans.png");
    background-position: 0px 650px;
    background-repeat: repeat;
  }
}


/* @media (min-width:768px){
  body{
    max-width: 738px;
  }
  .groom-pic{
    height: 100px;
    width: 100px;
  }
  .groom {
    font-size: 16px;
  }
}
@media (min-width:1024px){
  body{
    max-width: 990px;
  }
  p {
    font-size: 16px;
  }
  .groom-pic{
    height: 100px;
    width: 100px;
  }
} */